
{% extends "base.html" %}
{% block content %}

<div class="row g-3 align-items-end mb-3">
  <div class="col-auto">
    <div class="page-title d-flex align-items-center">
      <div class="page-title-icon me-3">
        🛒
      </div>
      <div class="d-flex align-items-baseline flex-wrap">
        <div class="page-title-main me-3">นำเข้า: สั่งขาย</div>
        <div class="text-muted" style="font-size: 1rem; border-left: 2px solid #ccc; padding-left: 12px;">
          Sabuy Soft
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mb-4">

<form method="post" enctype="multipart/form-data" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">ไฟล์ Excel</label>
    <input type="file" name="file" class="form-control" required>
  </div>
  <div class="col-12"><button class="btn btn-primary">นำเข้า</button></div>
</form>
{% endblock %}
